# # Server Configuration


NODE_ENV=production
FRONTEND_URL=https://travl-seven.vercel.app
JWT_SECRET=create_a_very_long_random_secret_key_here_abc123xyz789
JWT_EXPIRES_IN=7d
DB_HOST=mysql-fe5eed4-gaincygst0927-b978.j.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=AVNS_XpdC9Zqp3YTUTMOvWHv
DB_NAME=defaultdb
DB_PORT=17691